<div class="contenedor">
    <h1 class="text-center" style="color:darkgoldenrod">BIENVENIDO A NUESTRO SITIO WEB</h1>
    <div class="grip-caja">
        <img class="" style="max-width: 50%; text-align:center; margin: 0 auto" src="~/Content/img/pstre03.jpg" />
        <p style="text-align:justify; font-size: 1.4em; padding-top:10px">

            is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>