<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioClienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioClienteSoap1" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44307/ServicioCliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioClienteSoap"
                contract="ServiceClienteASMX.ServicioClienteSoap" name="ServicioClienteSoap" />
            <endpoint address="http://localhost:26617/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceClienteWCF.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>